<a href="https://colab.research.google.com/github/colabforram/END/blob/main/S3/ENDS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import math
import operator
import string
from functools import partial, reduce

Q1.Write a function using only list filter lambda that can tell whether a number is a Fibonacci number or not. You can use a pre-calculated list/dict to store fab numbers till 10000 PTS:100

In [2]:
lambda_is_fibonacci = lambda x: lambda_is_prefect_square(5*x*x + 4) or lambda_is_prefect_square(5*x*x - 4)
lambda_is_prefect_square = lambda x: x == int(math.sqrt(x))**2

q1 = list(filter(lambda_is_fibonacci, range(10)))
print(q1)

[0, 1, 2, 3, 5, 8]

Q2.Using list comprehension (and zip/lambda/etc if required) write five different expressions that: PTS:100

Q2.1 add 2 iterables a and b such that a is even and b is odd

In [3]:
a = [ 2 , 3 ,4]
b = [1,2,3]
q2_1 = [x+y for x,y in zip(a,b) if x%2==0 and y%2!=0]
print(q2_1)

[3, 7]

Q2.2 strips every vowel from a string provided (tsai>>t s)

In [4]:
text = 'tsai'
q2_2 = ''.join([x for x in text if x.lower() not in 'aeiou'])
print(q2_2)

ts

Q2.3 acts like a ReLU function for a 1D array

In [5]:
vector = [random.uniform(-5,5) for _ in range(10)]
print(vector)
q2_3 = [x if x >= 0 else 0 for x in vector ]
print(q2_3)

[-1.6019564985812118, -4.731230690309831, 3.5683597399718128, -4.8086424889494515, -2.748024831055884, -2.173158350777281, 3.498378535869751, 0.19998074616640693, 0.6658840024491051, 1.7961409761239855]
[0, 0, 3.5683597399718128, 0, 0, 0, 3.498378535869751, 0.19998074616640693, 0.6658840024491051, 1.7961409761239855]

Q2.4 acts like a sigmoid function for a 1D array

In [6]:
sigmoid = lambda x:1/(1+math.exp(-x))
q2_4 = [sigmoid(x) for x in vector]
print(q2_4)

[0.1677083448070782, 0.008738579119124179, 0.972571467031782, 0.00809289864077289, 0.060198297272733, 0.10218690708016065, 0.9706415984634441, 0.549829231665003, 0.6605809067302687, 0.8576785291020907]

Q2.5 takes a small character string and shifts all characters by 5 (handle boundary conditions) tsai>>yxfn

In [7]:
shift_n = 5
text='zb'
q2_5 = ''.join([chr(ord(x)+shift_n) if ord(x) + shift_n <= ord('z') else chr(ord(x)+ shift_n-26) for x in text])
print(q2_5)

eg

Q3. A list comprehension expression that takes a ~200 word paragraph (write your own paragraph to check), and checks whether it has any of the swear words mentioned in https://github.com/RobertJGabriel/Google-profanity-words/blob/master/list.txt PTS:200

In [8]:
with open('swear_words.txt','r') as f:
    swear_words = set(f.read().splitlines())

with open('paragraph_catcher_in_the_rye.txt', 'r', encoding='utf8') as f:
    paragraph = f.read()

paragraph = paragraph.split()
q3 = [word for word in paragraph if word in swear_words]
print(q3)

['damn', 'hell', 'bum']

Q4. Using reduce functions: PTS:100

Q4.1 add only even numbers in a list

In [9]:
q4_1 = reduce(lambda x,y:x+y if y%2==0 else x, range(10)) 
print(q4_1)

20

Q4.2 find the biggest character in a string (printable ascii characters)

In [10]:
text = 'tsai'
q4_2 = reduce(lambda x,y: x if ord(x)>ord(y) else y, text)
print(q4_2)

t

Q4.3 adds every 3rd number in a list

In [11]:
a= range(10)
print(list(a))
q4_3 = reduce(lambda x,y: x+y,  a[::3])
print(q4_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
18

Q5. Using randint, random.choice and list comprehensions, write an expression that generates 15 random KADDAADDDD number plates, where KA is fixed, D stands for a digit, and A stands for Capital alphabets. 10<<DD<<99 & 1000<<DDDD<<9999 PTS:100

In [12]:
#KADDAADDDD
#10<<DD<<99 & 1000<<DDDD<<9999
q5 = [f'KA{dd}{aa}{dddd}' for dd,aa,dddd in 
zip(
    [random.randint(10,99) for _ in range(15)], 
    [''.join(random.choices(string.ascii_uppercase, k=2)) for _ in range(15)], 
    [random.randint(1000, 9999) for _ in range(15)]
    )]
print(q5)

['KA81JV9106', 'KA80HV9433', 'KA63TO1149', 'KA88UB3185', 'KA31VJ6173', 'KA61SS3143', 'KA63LJ8596', 'KA92LQ6290', 'KA99QV8418', 'KA90IE9644', 'KA79RP2143', 'KA34NT9630', 'KA53JS8428', 'KA36JX7073', 'KA54XP4803']

Q6. Write the above again from scratch where KA can be changed to DL, and 1000/9999 ranges can be provided.  PTS:100

In [13]:
def get_plates(state:str, start_dddd:int, end_dddd:int, num_plates:int=15) -> 'list of n number plates':
    """Returns n number plates (default 15)

    Args:
        state (str): KA, KL etc..
        start_dddd (int): start of range 4 digit number
        end_dddd (int): end of range 4 digit number
        num_plates (int, optional): number of plates to return. Defaults to 15.

    Returns:
        list of n number plates: default 15 plates
    """
    return [f'{state}{dd}{aa}{dddd}' for dd,aa,dddd in 
zip(
    [random.randint(10,99) for _ in range(num_plates)], 
    [''.join(random.choices(string.ascii_uppercase, k=2)) for _ in range(num_plates)], 
    [random.randint(start_dddd, end_dddd) for _ in range(num_plates)]
    )]

q6_1 = get_plates('DL', 1000, 9999)
print(q6_1)

['DL80VC8779', 'DL41KN1685', 'DL14QG3891', 'DL58DI6382', 'DL37FQ7422', 'DL45VC8273', 'DL56VS9541', 'DL32OB6410', 'DL91VA4686', 'DL15PG2134', 'DL50CW1668', 'DL36KC4847', 'DL95TC9272', 'DL56WW2076', 'DL78EA3308']